
div.col-4
  div.d-flex.justify-content-between.align-items-center.gap-4.my-2
    label title
    input.form-control
  div.d-flex.justify-content-between.align-items-center.gap-4.my-2
    label link
    select(class="form-select")
      for page in site.series
        option= page

div.col-2
  img.img-fluid.img-thumbnail(src= site.baseURL + "/admin/src/assets/images/home/thumb/fieldwork.jpg")

div.col-2
  button.btn.btn-danger(onclick='removeListItem(event)') Delete