body {
  margin: 8px 0;

  @include medium {
    margin: 16px;
  };

  @include large {
    margin: 32px;
  };

  @include max {
    margin: 32px 64px;
  }

  @media screen and (min-width:1528px) {
   margin: 32px auto;
  }

  min-height: 100vh;
  min-width: 320px;
  max-width: 1400px;
}
