@font-face {
  font-family: ChakraPetch;
  src:  url('../fonts/Chakra_Petch/ChakraPetch-Regular.woff2');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ChakraPetch;
  src:  url('../fonts/Chakra_Petch/ChakraPetch-Bold.woff2');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: ChakraPetch;
  src:  url('../fonts/Chakra_Petch/ChakraPetch-Italic.woff2');
  font-display: swap;
  font-weight: normal;
  font-style: italic;
}

// Colors
$white: white;
$black: black;

// Timings
$speed-std: 0.6s;
