@font-face {
  font-family: ChakraPetch;
  src: url("../fonts/Chakra_Petch/ChakraPetch-Regular.ttf");
  font-display: swap;
}
body {
  margin: 8px 0;
  min-height: 100vh;
  min-width: 320px;
  max-width: 1400px;
}
@media screen and (min-width: 699px) {
  body {
    margin: 16px;
  }
}
@media screen and (min-width: 999px) {
  body {
    margin: 32px;
  }
}
@media screen and (min-width: 1399px) {
  body {
    margin: 32px 64px;
  }
}
@media screen and (min-width: 1528px) {
  body {
    margin: 32px auto;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: ChakraPetch, helvetica;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1 {
  font-size: 2.4rem;
  margin: 1.2em 0 0.6em 0;
}

h2 {
  font-size: 1.8rem;
  margin: 1em 0 0.5em 0;
}

a {
  text-decoration: none;
  color: grey;
}
a:hover {
  color: black;
  transition: color 0.6s ease-in-out;
}

.link {
  text-decoration: none;
  color: var(--text-color);
}
.link:hover {
  transition: color 0.6s ease-in-out;
  color: var(--hover-color);
}

.btn-ghost {
  all: unset;
  cursor: pointer;
}

.btn-img {
  font-size: 0;
}

.card h2 {
  margin-top: 0px;
  font-size: 30px;
  font-weight: normal;
}
.card:hover .card-image {
  object-position: -30px;
}

.card-image-container {
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
}

.card-image {
  width: 110%;
  transition: object-position 0.6s ease-in-out;
}

.modal {
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 8px;
  background-color: rgba(11, 181, 193, 0.9);
  color: white;
  z-index: 2;
}
.modal img {
  max-width: 90vw;
}
@media screen and (min-width: 699px) {
  .modal img {
    max-width: 80vw;
  }
}
@media screen and (min-width: 1399px) {
  .modal img {
    max-width: 1120px;
  }
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-img-btn {
  font-size: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 0 8px;
}
@media screen and (min-width: 699px) {
  header {
    padding: 0;
  }
}

.link-about {
  font-size: 3.2rem;
}
@media screen and (min-width: 699px) {
  .link-about {
    font-size: 5rem;
  }
}

.link-home {
  font-size: 3.2rem;
  text-align: right;
}
@media screen and (min-width: 699px) {
  .link-home {
    font-size: 5rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}
@media screen and (min-width: 999px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.carousel {
  position: relative;
}
.carousel .hidden {
  display: none;
}
.carousel .subtitle {
  margin-top: 0;
  padding: 0 8px;
}
@media screen and (min-width: 699px) {
  .carousel .subtitle {
    padding: 0;
  }
}
.carousel .prev, .carousel .next, .carousel .boxes {
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
}
.carousel .prev, .carousel .next {
  top: 40%;
}
.carousel .next {
  right: 0;
}
.carousel .boxes {
  display: flex;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, 0);
  gap: 12px;
  padding: 4px;
}
.carousel .box {
  height: 8px;
  width: 8px;
  border: 3px solid black;
}
.carousel .filled {
  background-color: black;
}

.carousel:hover .prev, .carousel:hover .next, .carousel:hover .boxes {
  opacity: 1;
}

.columns {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 699px) {
  .columns {
    flex-direction: row;
    gap: 32px;
  }
}
.columns p {
  margin: 0.4em 0;
}

.column {
  flex: 50%;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
@media screen and (min-width: 699px) {
  .image-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 999px) {
  .image-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.image-container {
  width: 100%;
  object-fit: cover;
  font-size: 0;
}
.image-container img {
  width: 100%;
  object-fit: cover;
  font-size: 1.6rem;
}

.text {
  padding: 0 8px;
}
@media screen and (min-width: 699px) {
  .text {
    padding: 0;
  }
}