@font-face {
  font-family: ChakraPetch;
  src: url("../fonts/Chakra_Petch/ChakraPetch-Regular.ttf");
  font-display: swap;
}
body {
  margin: 8px;
  min-height: 100vh;
  min-width: 320px;
}
@media screen and (min-width: 599px) {
  body {
    margin: 16px;
  }
}
@media screen and (min-width: 999px) {
  body {
    margin: 32px;
  }
}
@media screen and (min-width: 1199px) {
  body {
    margin: 32px 64px;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: ChakraPetch, helvetica;
  font-size: 1.6rem;
  line-height: 1.5;
}

h1 {
  font-size: 2.4rem;
  margin: 1.2em 0 0.6em 0;
}

h2 {
  font-size: 1.8rem;
  margin: 1em 0 0.5em 0;
}

a {
  text-decoration: none;
  color: grey;
}
a:hover {
  color: black;
  transition: color 0.6s ease-in-out;
}

.link {
  text-decoration: none;
  color: var(--text-color);
}
.link:hover {
  transition: color 0.6s ease-in-out;
  color: var(--hover-color);
}

.card h2 {
  margin-top: 0px;
  font-size: 30px;
  font-weight: normal;
}
.card:hover .card-image {
  object-position: -30px;
}

.card-image-container {
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
}

.card-image {
  width: 110%;
  transition: object-position 0.6s ease-in-out;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: sticky;
  top: 0;
}

.link-about {
  font-size: 3.2rem;
}
@media screen and (min-width: 599px) {
  .link-about {
    font-size: 5rem;
  }
}

.link-home {
  font-size: 3.2rem;
}
@media screen and (min-width: 599px) {
  .link-home {
    font-size: 5rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}
@media screen and (min-width: 999px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.columns {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 599px) {
  .columns {
    flex-direction: row;
    gap: 32px;
  }
}
.columns p {
  margin: 0.4em 0;
}

.column {
  flex: 50%;
}