div(class="card")
  a(href=site.baseURL+"/series/"+page.link class="link")
    div(class="card-image-container")
      img(src="/assets/images/home/" + page.image class="card-image")
    h2= page.title
