include ../components/image

mixin grid(content)
  section.image-grid 
    for item in content
      div.image-container
        button.modal-img-btn(onclick=`showModal("${item.image}")`)
          +image(item.image)
      div.modal(id=item.image)
        +image(item.image)
        != md(item.subtext.toString())