extends layouts/default
include sections/text
include sections/carousel
include sections/grid

block main
  if carouselOne
    +carousel(carouselOne, 'carouselOne')
  if textOne
    +text(textOne)
  if gridOne
    +grid(gridOne)
  if carouselTwo
    +carousel(carouselTwo, 'carouselTwo')
  if textTwo
    +text(textTwo)
  if gridTwo
    +grid(gridTwo)
  if carouselThree
    +carousel(carouselThree, 'carouselTwo')
  if textThree
    +text(textThree)
  if gridThree
    +grid(gridThree)
