extends layouts/default
include sections/text
include sections/carousel
include sections/grid

block main
  if carouselOne
    +carousel(carouselOne, 'carouselOne')
  if carouselTwo
    +carousel(carouselTwo, 'carouselTwo')
  if textOne
    +text(textOne)
  if gridOne
    +grid(gridOne)
  if carouselThree
    +carousel(carouselThree, 'carouselThree')
  if carouselFour
    +carousel(carouselFour, 'carouselFour')
  if textTwo
    +text(textTwo)
  if gridTwo
    +grid(gridTwo)
  if carouselFive
    +carousel(carouselFive, 'carouselFive')
  if carouselSix
    +carousel(carouselSix, 'carouselSix')
  if textThree
    +text(textThree)
  if gridThree
    +grid(gridThree)

  div.modal(id='modal')
    div.modal-content
      img()
      div.subtext

