script(src= site.baseURL  + '/admin/src/assets/js/axios.min.js')
script(src= site.baseURL  + '/admin/src/assets/js/bootstrap.bundle.min.js')
script(src= site.baseURL  + '/admin/src/assets/js/admin.js')
