header(class="border-bottom border-primary border-2 mb-4")
  h1.d-flex.justify-content-between
    span= heading
      a.link-dark(href= path)= title
    span
      a.link-dark(href="/admin/dashboard") Admin
