head
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel='stylesheet', href= site.baseURL  + '/admin/src/assets/css/bootstrap.css')
  link(rel='stylesheet', href= site.baseURL  + '/admin/src/assets/css/admin.css')

  title= 'Admin - ' + title