header.bg-secondary.text-white.fixed-top
  nav.p-3.d-flex.justify-content-between

    h2
      a.m-2.link-light(href= site.baseURL + "/admin/dashboard") Dashboard
      span /
      if site
        a.m-2.link-light(href= site.baseURL + path)= title
    div
      button.btn.btn-primary(onclick="updatePage('" + path + "')") Save Changes