header.bg-secondary.text-white.fixed-top
  nav.p-3.d-flex.justify-content-between

    h2
      a.m-2.link-light(href= site.baseURL + "/admin/dashboard") Dashboard
      span /
      a.m-2.link-light(href="#" onclick="history.go(-1)") Back

      