.card {

  h2 {
    margin-top: 0px;
    font-size: 30px;
    font-weight: normal;

    padding: 0 8px;

    @include medium {
      padding: 0;
    }
  }


  &:hover {

    .card-image {
      object-position: -30px;
    }
  }
}

.card-image-container {
  aspect-ratio: 4 / 3;
  box-shadow: rgba(0, 0, 0, .4) 0px 2px 4px, rgba(0, 0, 0, .3) 0px 7px 13px -3px, rgba(0, 0, 0, .2) 0px -3px 0px inset;
  border-radius: 4px;
  corner-shape: bevel;
  overflow: hidden;
}

.card-image {
  width: 110%;
  height: 110%;
  transition: object-position $speed-std ease-in-out;
}
