header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  position: sticky;
  top: 0;

  z-index: 3;

  padding: 0 8px;
  @include medium {
    padding: 0;
  }
}

.link-about {
  font-size: 3.2rem;

  @include medium {
    font-size: 5rem;
  }
}

.link-home {
  font-size: 3.2rem;
  text-align: right;

  @include medium {
    font-size: 5rem;
  }
}

