mixin paragraph(name, content)
  li.list-group-item.d-flex.align-items-start.justify-content-between
    textarea.col-10(name=name rows=20)
      = content
    button.btn.btn-danger(onclick='removeListItem(event)') Delete

mixin addParagraph(name, parentId)
  li.list-group-item
    button.btn.btn-primary(onclick=`newTextBox('${name}', '${parentId}')` type='button') New

ul.list-group-flush(id='column-1')
  if columnOne
    if Array.isArray(columnOne)
      for content in columnOne
        +paragraph('columnOne', content)
    else
      +paragraph('columnOne', columnOne)
  +addParagraph('columnOne','column-1')
