li.list-group-item
  form(method="POST" enctype="multipart/form-data")
    label.form-label(for="alt") Alt Text
    input.form-control(type="text" name="alt" )

    input.my-4.form-control(type="file" name="pic" required)
    input.form-control(type="submit")